/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url("../../assets/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../../assets/fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../../assets/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../../assets/fonts/montserrat/Montserrat-Bold.ttf");
}

.profile-image {
  width: 150px;
  height: 150px;
  background-size: cover;
  object-fit: cover;
  display: block;
  margin: 15px auto;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.ime {
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #fdfdfd;
  line-height: 1.2;
  text-align: center;
}

.card-body {
  margin: 0;
}

.card-footer {
  padding: 10px 15px;
  background-color: #fff;
  border-top: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.custom {
  color: red;
}

.tabovi {
  background-color: #fff;
}

.background {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
