<h4 class="display-4 text-center">Predmeti</h4>
<div class="row  mt-3 mb-3">
  <button class="btn btn-success btn-lg ml-4" [routerLink]="['/predmet/add']">
    <i class="fa fa-plus"></i>Dodaj predmet
  </button>
</div>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Naziv</th>
      <th>ESPB</th>
      <th>Sifra</th>
      <th>Godina</th>
      <th>Smer</th>
      <th>Obrisati</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let predmet of predmeti">
      <th scope="row">{{ predmet.id }}</th>
      <td>{{ predmet.naziv }}</td>
      <td>{{ predmet.espb }}</td>
      <td>{{ predmet.sifraPredmeta }}</td>
      <td>{{ predmet.godina }}</td>
      <td>{{ predmet.smer }}</td>
      <td>
        <button (click)="obrisiPredmet(predmet.id)" class="btn btn-danger">
          Obrisi predmet
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="row d-flex justify-content-center">
  <pagination
    *ngIf="predmetPage.totalElements > predmetPage.size"
    [boundaryLinks]="true"
    [itemsPerPage]="predmetPage.size"
    [totalItems]="predmetPage.totalElements"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
