<h4 class="display-4 text-center">Prijava ispita</h4>
<!-- <div class="row  mt-3 mb-3">
  <button class="btn btn-success btn-lg ml-4" [routerLink]="['/nastavnik/add']">
    <i class="fa fa-plus"></i>Dodaj nastavnika
  </button>
</div> -->
<div class="row no-gutters align-items-center">
  <div class="col">
    <select
      class="form-control"
      style="display:inline"
      (change)="onChange()"
      #selectRok
      name="selectRok"
    >
      <option selected>Izaberite rok</option>
      <option *ngFor="let rok of rokovi" [ngValue]="rok.id">{{
        rok.naziv
      }}</option>
    </select>
  </div>
</div>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Predmet</th>
      <th>Datum</th>
      <th>Vreme</th>
      <th>Ucionica</th>
      <th>Prijavi</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ispit of ispiti">
      <th scope="row">{{ ispit.id }}</th>
      <td>{{ ispit.predmet.naziv }}</td>
      <td>{{ ispit.datum.slice(0, 10) }}</td>
      <td>{{ ispit.datum.slice(11, 16) }}</td>
      <td>{{ ispit.ucionica }}</td>
      <td>
        <div class="checkbox">
          <button
            *ngIf="!ispit.prijavljen"
            class="btn btn-primary"
            (click)="prijaviIspit(ispit.id)"
          >
            Prijava
          </button>
          <button *ngIf="ispit.prijavljen" class="btn btn-default">
            Prijavljen
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
